@charset "UTF-8"; 

body{
    position: relative;
    background-color: whitesmoke;
  }
  main{
    position: absolute;
    left: 30vw;
    top: 10vh;
    width: 50vw;
    display: flex;
  }
  div#resultado{
    padding: 40px;
    border-radius: 20px;
  }
  div#circulo{
    width: 10vw;
    height: 20vh;
  }
  #acerto{
    padding-top: 4.5vh;
  }
  h3{
    font-size: 30px;
  }
  p.para{
    padding-top: 10px;
    font-size: 20px;
  }
  div#sumario{
    background-color: white;
    width: 30vw;
    }
  section{
    width: 18vw;
  }
  h4{
    padding-left: 30px;
  }
  #nave{
    display: none;
  }
  a#nave2{
    display: block;
    width: 5vw;
    margin: auto;}
    @media (min-width:1380px){
      div#circulo{
        width: 10vw;
        height: 15vh;
      }
    }