@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
        *{
            margin: 0px;
            font-family: 'Space Grotesk', sans-serif;
        }
        body{
            height: 100vh;
            width: 100vw;
            display: flex;
            position: relative;
        }
        :root{
            --roxo_claro: hsl(270, 3%, 87%);
            --roxo_escuro: hsl(279, 12%, 38%);
            --roxo_escurao: hsl(278, 68%, 11%);
            --linear1:hsl(249, 99%, 64%);
            --linear2:hsl(278, 94%, 30%);
            --erro: hsl(0, 100%, 66%);
        }
        header{
         background-image: url(images/bg-main-desktop.png);   
         width: 32vw;
         height: 86vh;
         display: grid;
         grid-template-rows: 1vw 18vw 5vw 6vw;
         
         
        }
        img{
            width: 25vw;
            padding-left: 0px;
        }
        #front{
            order:1;
            padding-left: 17vw;
            padding-top: 8vw;
        }
        #back{
            order: 4;
            padding-left: 22vw;
        }
        .span_000{
            padding-left: 41vw;
            color: white;
            order: 5;
            font-size: 16px;
        }
        .span_cartao{
            display: grid;
            grid-template-columns: 15vw 1px;
            order: 3;
            padding-left: 20vw;
            color: white;
            font-size: 12px;
        }
        #num_cartao{
            padding-top: 14vw;
            color: white;
            padding-left: 19vw;
            letter-spacing: 3px;
            font-size: 20px;
            order: 2;
        }
        main{
            width: 40vw;
            position: absolute;
            left: 55vw;
            top: 4vw;
            font-weight: 600;
        }
        label{
            display: block;
            padding-top: 8px;
            padding-bottom: 5px;
        }
        input{
            width: 25vw;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.267) ;

        }
        .inp{
            display: grid;
            grid-template-columns: 6vw 8vw 2vw;
            padding-right: 20px;
        }
        .inp input{
            width: 4vw;
        }
        .label{
            display: grid;
            grid-template-columns: 14vw 10vw;
            padding-bottom: 8px;
        }
        #cvc{
            width: 11vw;
        }
        #confirmar{
            width: 26vw;
            margin-top: 30px;
            padding: 12px;
        }
        .erro, .erro p{
            width: 220px;
        }
        .img_complete{
            width: 10vw;
            display: block;
            margin: auto;
            padding-bottom: 10px;
           }