@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
  margin: 0px;
}
:root{
  --azul: hsl(238, 40%, 52%);
  --vermelho: hsl(358, 79%, 66%);
  --azul_claro: hsl(239, 57%, 85%);
  --vermelho_claro: hsl(357, 100%, 86%);
}
section{
  background-color: hsl(228, 33%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 30px 10px;
  font-family: 'Rubik', sans-serif;
}
.comentario{
  background-color: white;
  border-radius: 10px;
  width: 85vw;
  padding: 15px;
  margin-bottom: 15px;
}
.resposta{
  border-radius: 10px;
  background-color: white;
  width: 75vw;
  padding: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.todas_respostas{
  border-left: 2px solid rgba(0, 0, 0, 0.212);
}
.header_coment{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.header_coment img{
  width: 10vw;
  
}
.header_coment a{
  padding-left: 5vw;
  padding-right: 7vw;
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.header_coment span{
  color: rgba(0, 0, 0, 0.616);
}
.header_coment .you{
  background-color: var(--azul);
  color: white;
  font-size: 12px;
  padding: 2px 3px 2px 3px;
  margin-right: 8vw;
  margin-left: 2vw;
}
.header_coment .you_name{
  padding-right: 0px;
  
}
.main_coment{
  color: rgba(0, 0, 0, 0.616);
  text-align: justify;
  padding-bottom: 10px;
  word-wrap: break-word;
}
.main_coment b{
  color: var(--azul);
}
.like_css{
  display: inline-block;
}
.likes{
  background-color: hsl(0, 0%, 93%);
  display: flex;
  width: 18vw;
  padding: 8px 13px 8px 13px;
  border-radius: 8px;
  justify-content: center;
}
.like{
  border-right: 2px solid rgba(0, 0, 0, 0.521);
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.521);
  font-weight: 700;
  font-size: 6vw;
}
.dislike{
  border-left: 2px solid rgba(0, 0, 0, 0.521);
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.521);
  font-weight: 700;
  font-size: 6vw;
}
.comentario .responder{
  display: inline-block;
  padding-left: 40vw;
  color: var(--azul);
}
.resposta .responder{
  display: inline-block;
  padding-left: 32vw;
  color: var(--azul);
}
.numbers_like{
  padding: 0px 5px 0px 5px;
  color: var(--azul);
  font-size: 17px;
  padding-top: 0.7vw;
}
.delete_edit_css{
  display: inline-block;
}
.delete_edit{
  display: flex;
}
.delete{
  padding-right: 8vw;
  padding-left: 8vw;
  color: var(--vermelho);
  font-weight: 500;
}
.edit{
  color: var(--azul);
  font-weight: 500;
}
#sua_mensagem{
  position: sticky;
  bottom: 1px;
  background-color: white;
  border-radius: 10px;
  width: 85vw;
  padding: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 60vw 1px;
}
#mensage{
  width: 75vw;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 7px;
  padding: 10px 10px 12vw 10px;
  margin-bottom: 15px;
}
#sua_mensagem img{
  position: sticky;
  grid-column: 1;
  width: 10vw;
}
#enviar_mensagem{
  position: sticky;
  color: white;
  font-weight: 700;
  border-radius: 7px;
  background-color: var(--azul);
  border: 1px solid rgba(0, 0, 0, 0.301);
  padding: 2px;
  width: 20vw;
  height: 10vw;
}
#mensagem_deletar{
  color: rgba(0, 0, 0, 0.842);
  background-color: white;
  position: fixed;
  top: 50vw;
  width: 81vw;
  padding: 20px 25px 20px 25px;
  border-radius: 10px;
  display: none;
}
#mensagem_deletar h1{
  padding-bottom: 10px;
  font-size: 20px;
}
#mensagem_deletar p{
  padding-bottom: 15px;
}
#confirmar_cancelar{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
#confirmar_cancelar p{
  padding: 10px;
  color: white;
}
#confirmar_delete{
  border-radius: 5px;
  background-color: var(--vermelho);
}
#cancelar_delete{
  background-color: rgb(131, 129, 129);
  border-radius: 5px;
}
.editando_input{
  height: 10vw;
  width: 70vw;
}